<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .H1text {
            color: blue;
        }
    </style>
</head>
<body>
<div>
    <h1 id="Headtext"> H1 TEXT</h1>
    <h2 class="H1text"> H1 TEXT</h2>
    <p>Paragraph</p>
    <a href="https://google.com" target="_blank"> Hello you! <span style="color: green">text span </span>></a>
    <img alt="image" src="https://kinozal.tv/i/poster/4/0/2134440.jpg" style="width:100px">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ol>
    <form action="/action" method="POST">
        <input placeholder="type here">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea placeholder="text area"></textarea>
        <button type="submit">Press me</button>>
    </form>
    <table>
        <thead>
        <tr>
            <td>item1</td>
            <td>item</td>
            <td>item</td>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>row1</td>
            <td>row2</td>
            <td>row3</td>
        </tr>
        <tr>
            <td>ro1w1</td>
            <td>ro1w2</td>
            <td>row13</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
